.index-actions-container
{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;       
}

.index-create-button
{
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#index-title
{
    text-align: center;
}

.index-activity-container
{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 5px;   
     background-color: #473f3f6e;
    cursor: pointer;    
    transition: background-color 0.3s ease;
}
.index-activity-container:hover
{
    background-color: #5047479e;
}

.index-main
{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.activity-logs
{
    flex: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.logs-container
{
    flex: 1;
    overflow-y: scroll;
    background-color: #473f3f6e;
    scrollbar-width: thin;
}
.popup-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}   
.popup{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: black;
}
.popup-actions-container
{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;       
}

form
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form label
{
    font-weight: bold;
}
form input,
form textarea
{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}